
<fieldset ng-controller="RegistrationController as regCtrl" class="form-group container" >

	
	<form name='regForm' novaildate ng-hide="regCtrl.userData.alreadyMember">
		<H2>Registration</H2>
		<div class="form-group row ">
			<label for="firstName" class=" ">FIRST NAME</label>
			<input type="text" name="firstName" placeholder="Your First Name"
			class="form-control" 
			ng-model="regCtrl.user.firstName"
			ng-minlength="3"
			required 
			>
			<p class="form-invalid" ng-if="regForm.firstName.$invalid && regForm.firstName.$touched">
				Your first name must be at least 3 characters long
			</p>
		</div>
		<div class="form-group row">
			<label for="lastName">LAST NAME</label>
			<input type="text" name="lastName" placeholder="Your Last Name"
			class="form-control" 
			ng-model="regCtrl.user.lastName"
			ng-minlength="3"
			required
			>
			<p class="form-invalid" ng-if="regForm.lastName.$invalid && regForm.lastName.$touched">
				Your last name must be at least 3 characters long
			</p>			
		</div>
		<div class="form-group row ng-class="{ 'has-error': regForm.email.$invalid }">
			<label for="email">E-MAIL</label>		
			<input type="email" name="email" placeholder="Your Email"
			class="form-control" 
			ng-model="regCtrl.user.email"
			required
			>
			<p class="form-invalid" ng-if=" regForm.email.$invalid &&  regForm.email.$touched">
				Must be a valid email address: handle@domain format
			</p>			
		</div>
		<div class="form-group row">
			<label for="phone">MOBILE PHONE NUMBER</label>
			<input type="tel" name="phone" placeholder="Your Mobile Phone No. ####-###-###"
				class="form-control" 
				ng-model="regCtrl.user.phone"
				pattern="(\d{4}-\d{3}-\d{3})" 
				required
				>
			<div class="form-invalid" ng-if="regForm.phone.$touched">
				<p ng-if=" regForm.phone.$error.pattern">
					Must be a valid phone number: ####-###-###
				</p>
				<p ng-if="regForm.phone.$error.required">
					This is required.
				</p>
			</div>
		</div>
		<div class="form-group row">
			<label for="favMenuCategory">FAVORITE MENU</label>			
			<input type="text" name="favMenuCategory" placeholder="Your Favorite Menu Catagory Number"
			class="form-control" 
			ng-model="regCtrl.user.favMenuCategory"
			required
			category-validation
			>
			
			
			<div class="form-invalid" ng-if="regForm.favMenuCategory.$touched">
				<p ng-if="regForm.favMenuCategory.$pending">
					Resolving...
				</p>
				<p ng-if=" regForm.favMenuCategory.$error.categoryValidation">
					No such menu number exists
				</p>				
			
				<p ng-if="regForm.favMenuCategory.$error.required">
					This is required.
				</p>
			</div>
		</div>
		<div>
			<button ng-disabled="regForm.$invalid"
					class="btn btn-primary"
					ng-click="regCtrl.submit()">Submit</button>
		</div>

	</form>


	<div id="member-info" class="container" ng-show="regCtrl.userData.alreadyMember">
		<h2 class="text-center">Your information has been saved.</h2>


	</div>

</fieldset>



